




# Server vars   -------------------------------------------------------------------------------------------------------------------------
# Pvte account del  Server account (0xE9B1436262593fA862911eDD0C78017B77D131ab)
PVTE_ACCOUNT_SERVER=


# Client (Browser) vars -----------------------------------------------------------------------------------------------------------------

# Alchemy Link a Sepolia y AMOY testnets: introBlockchain
ALCHEMY_SEPOLIA_URL=https://eth-sepolia.g.alchemy.com/v2/{key}
ALCHEMY_AMOY_URL=https://polygon-amoy.g.alchemy.com/v2/{key}


# // A public Browser Wallet Amoy node URL link
# NEXT_PUBLIC_BROWSER_URL_AMOY=https://polygon-amoy.blockpi.network/v1/rpc/public

// Browser Wallet Amoy explorer base URL
// Polygon Amoy Explorer
NEXT_PUBLIC_EXPLORER_URL= https://www.oklink.com/amoy/tx/
// Sepolia Explorer
//NEXT_PUBLIC_EXPLORER_URL= https://sepolia.etherscan.io/tx/

